[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
ruff = "*"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
"yt-dlp" = "*"
aiohttp = "*"
aiosqlite = "*"

[requires]
python_version = "3.14"
