[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
aiohttp = "*"
psutil = "*"
discord-ext-menus = {editable = true, git = "https://github.com/Rapptz/discord-ext-menus"}

[requires]
python_version = "3.8"
